[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "cd backend && python app.py"

[variables]
FRONTEND_URL = "https://affiliate-system-rho.vercel.app"

